
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

.container {
    width: 85%;
    height: 760px;
    max-width: 1600px;
    margin: 0px auto;
    /* border: 3px solid #7300ff; */
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    max-width: 1600px;
    width: 85%;
}

.header{
   background-color: #1A0B2E;
   padding-top: 16px;
   padding-bottom: 16px;
}
.logo{
    color: white;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
   
}

nav .menu a {
    font-size: 1rem;
    color:#FFFFFF;
    text-decoration: none;
    line-height: 120%;
}

.menu a:hover {
  color: #f67905;
}

.menu a:active {
  color: #02b423;
}

.logo {
  font-size: 50px;
  letter-spacing: 0px;          
}

.text-white {
  color: #ffffff;
}

.text-gradient {
  background: linear-gradient(25deg,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  background-clip: text;
  color: transparent;
}

.subscribe-btn {
  background: linear-gradient(25deg, #F7E93F 0%, #FB09B4 , #9100F8 100%);
  color: white;
  border: none;
  width: 135px;
  height: 44px;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 1000px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  box-shadow: 0 0 0 4px rgba(255, 0, 255, 0.15);
  transition: all 0.3s ease;
}

.subscribe-btn span {
  font-size: 16px;
  transition: transform 0.3s ease;
}

.subscribe-btn:hover {
  box-shadow: 0 0 0 6px rgba(255, 0, 255, 0.25);
  transform: translateY(-2px);
}

.subscribe-btn:hover span {
  transform: translateX(4px);
}


.section{
  max-width: 1600px;;
  background-image: url("./assets/hero-bg.png");
}

.banner-photo{
  /* border: 4px solid red; */
  margin: 101px 525px;
  width: 550px;
  height: 558px;
}

.banner-pic{
  margin-left: 100px;
  width: 350px;
  height: 350px;
  /* border: 2px solid red; */
  background-image: url("./assets/hero-circle.png");
}

.banner-pic img{
  margin: 30px auto;
}
.banner-btn{
  width: 75px;
  height: 38px;
  color: #1A0B2E;
  background-color: #00FF88;
  border-radius: 1000px;
  padding: 4px 18px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  margin-left: 252px;
  margin-top: 12px;
  gap: 10px;
}


.banner-text{
  text-align: center;
}

.banner-text h1{
  font-size: 60px;
  font-weight: 800;
  color: #FFFFFF;
  margin-top: 10px;
}

.banner-text p{
   font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;

  
}

.spotify-btn {
  background: linear-gradient(25deg, #F7E93F 0%, #FB09B4 , #9100F8 100%);
  color: white;
  border: none;
  width: 201px;
  height: 44px;
  padding: 20px 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 1000px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 0 0 4px rgba(255, 0, 255, 0.15);
  transition: all 0.3s ease;
}

.parent-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-top: 20px;
}

.subscribe1-btn {
  width: 147px;
  height: 44px;
  color: #00FF88; 
  border: 1.5px solid #00FF88; 
  border-radius: 1000px; 
  padding: 20px 12px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px; 
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Subtle hover effect */
.subscribe1-btn:hover {
  background-color: rgba(142, 191, 158, 0.872);
  box-shadow: 0 0 10px rgba(0, 230, 118, 0.3);
}

main{
  background-color: #1A0B2E;
  margin:0px auto;
}
.container-1 {
    width: 85%;
    height: 646px;
    max-width: 1600px;
    margin:0px auto;
   
    
}
.about-content{
  margin: 0px 200px ;
   /* border: 3px solid #4e0aeb; */
   text-align: center;
}

.about-content h1{
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
}
    
.about-content p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 20px;
}
 

 .line {
    width: 75%;
    height: 1px;
    background-color: #FFFFFF;
    opacity: 10%;
    border: none;
    margin: 80px auto;
  }

  .about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

.about-card .card-1{
  width: 240px;
  height: 94px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
  /* border: 3px solid #eb0ab7; */
}

.card-1 h1{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900px;
  font-style: black;
}
.card-1 p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
}

/* Choose Section */

.container-2 {
    width: 85%;
    height: 1121px;
    max-width: 1600px;
    margin:0px auto;
    background-color: #230E3D;
   /* border: 3px solid #eb0ab7; */
    
}

.container-2 h1{
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  padding-top: 120px;

}


.grid-container{
    max-width: 1200px;
    gap: 30px;

    min-height: 783px;
    margin: 40px auto;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid-container .box-1{
  background-color: #351165;
  grid-row: 1/span 2;
  border-radius: 40px;
}
.grid-container .box-2{
  background-color: #351165;
  grid-column: 2/span 2;
  border-radius: 40px;
}
.grid-container .box-3{
  background-color: #351165;
  grid-column: 2/span 2;
  border-radius: 40px;
}
.grid-container .box-4{
  background-color: #351165;
  grid-column: 1/span 2;
  border-radius: 40px;
}
.grid-container .box-5{
  background-color: #351165;
  /* grid-column: 1/span 2; */
  border-radius: 40px;
}

.box-1 img{
 margin-top: 107.5px;
 margin-left: 40px;
 height: 60px;
  /* border: 2px solid red; */

}

.box-1 h5{
   /* border: 2px solid red; */
   margin-top: 16px;
   margin-bottom: 16px;
   margin-left: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 0px;
  text-align: left;
  
}

.box-1 p{
   /* border: 2px solid red; */
   line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 40px;
  margin-right: 40px;
}

.box-2 img{
  margin-left: 40px;
  margin-top: 40px;
}

.box-2 h5{
   /* border: 2px solid red; */
   margin-top: 16px;
   margin-bottom: 16px;
   margin-left: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 0px;
  text-align: left;
  
}

.box-2 p{
   /* border: 2px solid red; */
   line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 40px;
  margin-right: 40px;
}


.box-3 img{
  margin-left: 40px;
  margin-top: 40px;
}

.box-3 h5{
   /* border: 2px solid red; */
   margin-top: 16px;
   margin-bottom: 16px;
   margin-left: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 0px;
  text-align: left;
  
}

.box-3 p{
   /* border: 2px solid red; */
   line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 40px;
  margin-right: 40px;

}
.box-4 img{
  margin-left: 40px;
  margin-top: 40px;
}

.box-4 h5{
   /* border: 2px solid red; */
   margin-top: 16px;
   margin-bottom: 16px;
   margin-left: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 0px;
  text-align: left;
  
}

.box-4 p{
   /* border: 2px solid red; */
   line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 40px;
  margin-right: 40px;
}
.box-5 img{
  margin-left: 40px;
  margin-top: 40px;
}

.box-5 h5{
   /* border: 2px solid red; */
   margin-top: 16px;
   margin-bottom: 16px;
   margin-left: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 0px;
  text-align: left;
  
}

.box-5 p{
   /* border: 2px solid red; */
   line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 40px;
  margin-right: 40px;
 
}


/* Feature section */
.container-3 {
    width: 85%;
    height: 1276px;
    max-width: 1600px;
    margin:0px auto;
    background-color: #1A0B2E;
   /* border: 3px solid #eb0ab7; */
   padding: 120px 200px;
    
}

.feature{
  max-width: 1200px;
  height: 538px;
  /* border: 2px solid red; */


}
.feature h3{
  font-size: 48px;
font-weight: 700;
text-align: center;
color: #FFFFFF;

}

.feature-card{
max-width: 1200px;
height: 440px;
margin-top: 25px;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 30px;

}


.feature-card-1{
max-width: 380px;
background-color: #250D44;
border-radius: 20px;

}

.c-1{
  width: 378px;
  height: 214px;
  /* border: 1px solid rgb(143, 137, 148); */
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.c-text-1{
  width: 380px;
  height: 226px;
  /* border: 1px solid rgb(172, 8, 169); */
  padding: 24px;
  
}
.c-text-1 h3{
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 12px;
}
.c-text-1 p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
   margin-bottom: 12px;
}
.clock{
  display: flex;
  gap: 6px;
}
.clock img{
width: 20px;
height: 20px;
}
.clock p{
  color: #00FF88;
}


.feature-text{
  max-width: 1200px;
  height: 378px;
  /* border: 2px solid rgb(0, 34, 255); */
  margin-top: 120px;
  padding-top: 98px;
  
}

.feature-text p{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}


.feature-text .alex{
  background-color: #351165;
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 280px;
  border-radius: 40px;

}

.alex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
}
.alex .picture{
  padding-left: 40px;
  padding-top: 40px;
}
.icon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2px;
  gap: 8px;
}

.text h3{
  font-size: 32px;
  font-weight: 700;
  color: #FFFFFF;
}
.text p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Footer section */
footer{
  background-color:#1A0B2E;
}
.container-4 {
    width: 85%;
    height: 412px;
    max-width: 1600px;
    margin:0px auto;
    padding: 120px 120px;
    background-image: url("./assets/footer-bg.png");
   /* border: 3px solid #460aeb; */
    
}

.text-container{
  max-width: 1360px;
  height: 172px;
  /* border: 3px solid #460aeb; */
  text-align: center;

}

.text-white-1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
}

.text-gradient-1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(25deg,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  background-clip: text;
  color: transparent;
}

.footer-card{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 40px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.footer-card img{
  width: 22px;
  height: 22px;
}

.footer-card-1{
  width: 87px;
  height: 24px;
  /* border: 1px solid red; */
  display: flex;
}
.footer-card-2{
  width: 152px;
  height: 24px;
  /* border: 1px solid red; */
  display: flex;
}
.footer-card-3{
  width: 99px;
  height: 24px;
  /* border: 1px solid red; */
  display: flex;
}
.footer-card-4{
  width: 86px;
  height: 24px;
  /* border: 1px solid red; */
  display: flex;
}

.text-container p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: px;
}

.hamburg-sign{
  display: none;
}






/* Responsive Styles for Max-width: 576px */
@media screen and (max-width: 576px) {
  
  .container, .container-1, .container-2, .container-3, .container-4 {
    width: 95%;
    height: auto; 
    padding: 40px 15px;
    margin: 0 auto;
  }
 
 nav {
        width: 90%;
        justify-content: space-between; 
        padding: 15px 0;
    }

    .logo {
        font-size: 28px;
    }

    nav .menu, 
    .header .subscribe-btn {
        display: none; 
    }

    .hamburg-sign {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburg-sign span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 2px;
    }

    .container {
        height: auto;
        width: 100%;
    }

    .banner-photo {
        width: 100%;
        margin: 40px auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-pic {
        margin-left: 0;
        width: 260px;
        height: 260px;
        background-size: contain;
        position: relative;
    }

    .banner-pic img {
        width: 80px;
        margin-top: 50px;
    }

    .banner-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 0;
        width: 65px;
        height: 32px;
        font-size: 14px;
        justify-content: center;
    }

    .banner-text h1 {
        font-size: 36px;
        margin-top: 20px;
    }

    .parent-btn {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 10px; 
        margin-top: 25px;
        width: 100%;
        padding: 0 10px;
    }

    .spotify-btn {
        width: 165px; 
        height: 44px;
        font-size: 13px; 
        padding: 0 10px;
        justify-content: center;
    }

    .subscribe1-btn {
        width: 125px;
        height: 44px;
        font-size: 14px;
        padding: 0;
        justify-content: center;
    }

  /*  About Section */
  .about-content {
    margin: 0;
  }
  .about-content h1 {
    font-size: 30px;
  }
  .about-card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
  }
  .line {
    width: 90%;
    margin: 40px auto;
  }

  /*  Choose TechWave  */
  .container-2 {
    height: auto;
    padding-bottom: 60px;
  }
  .container-2 h1 {
    padding-top: 60px;
    font-size: 30px;
  }
  .grid-container {
    display: flex;
    flex-direction: column; 
    padding: 0 10px;
  }
  .grid-container .box-1, .grid-container .box-2, 
  .grid-container .box-3, .grid-container .box-4, 
  .grid-container .box-5 {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }

  /*  Featured Episodes */
  .container-3 {
        width: 100%;
        height: auto; 
        padding: 60px 20px; 
        margin: 0 auto;
    }

    /* Featured Episodes  */
    .feature {
        max-width: 100%;
        height: auto;
    }

    .feature h3 {
        font-size: 32px; 
        margin-bottom: 20px;
    }

    .feature-card {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 15px;
    }

    .feature-card-1 {
        max-width: 100%;
        width: 100%;
    }

    
    .c-1 {
        width: 100%;
        height: auto; 
        aspect-ratio: 16 / 9;
    }

    .c-text-1 {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .c-text-1 h3 {
        font-size: 20px;
        line-height: 1.4;
    }

    .feature-text {
        max-width: 100%;
        height: auto;
        margin-top: 60px;
        padding-top: 0;
    }

    .feature-text p{
      font-size: 35px;
    }


    .feature-text .alex {
        max-width: 100%;
        height: auto;
        padding: 40px 20px;
        flex-direction: column;
        text-align: center; 
        border-radius: 20px;
    }

    .alex .picture {
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 20px;
    }

    .alex .picture img {
        width: 120px; 
        height: 120px;
        border-radius: 50%;
    }

    .text h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .text p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .icon {
        justify-content: center;
        gap: 12px;
    }

  /*  Footer Section */
.container-4 {
        width: 100%;
        height: auto;
        padding: 60px 20px; 
        background-size: cover;
        background-image: url("./assets/footer-bg.png" );
        margin: 0 auto;
    }

    .text-container {
        max-width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .text-white-1, 
    .text-gradient-1 {
        font-size: 36px; 
        display: inline-block;
    }

    .footer-card {
        display: grid;
        grid-template-columns: repeat(2, auto); 
        justify-content: center;
        gap: 20px 30px; 
        margin-top: 30px;
    }

    .footer-card-1, 
    .footer-card-2, 
    .footer-card-3, 
    .footer-card-4 {
        width: auto; 
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }

    .text-container p {
        font-size: 14px;
        margin-top: 40px;
        opacity: 0.8;
    }
}

