
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.text{
    color: rgb(158, 7, 223);
    font-size: 24px;
    border: 4px solid red;
    margin-top: 3px;
    text-align: center;
}
.text1{
    text-align: center;
}

.btn{
  
}